{{! form to add users to database }}
<section>
  <div class="container mt-3">
    <div class="row">
      <div class="col-md-6 mt-5 border border-primary">
        <h2 class="text-center text-primary mt-2">Edit Existing Users</h2>
        <form action="/admin/edit/{{users._id}}" method="post">
          <label for="">Name</label>
          <input type="text" required name="Name" class="form-control" value="{{users.Name}}" />

          <label for="">Email</label>
          <input type="email" required name="Email" class="form-control" value="{{users.Email}}" />

          <button type="submit" class="btn btn-success mt-4 mb-4">SUBMIT</button>
        </form>
      </div>
    </div>
  </div>
</section>