/* body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
} */
body{
  padding: 0px;
  /* padding: auto; 
  padding-right: 30px;
  padding-left: 30px; */
  /* overflow-x: hidden; */
}