<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description"
		content="Responsive Bootstrap4 Shop Template, Created by Imran Hossain from https://imransdesign.com/">

	<!-- title -->
	<title>Fruitkha - Slider Version</title>

	<!-- favicon -->
	<link rel="shortcut icon" type="image/png" href="assets/img/favicon.png">
	<!-- google font -->
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap" rel="stylesheet">
	<!-- fontawesome -->
	<link rel="stylesheet" href="/assets/css/all.min.css">
	<!-- bootstrap -->

	<link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">



	{{!-- <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css" /> --}}

	<!-- owl carousel -->
	<link rel="stylesheet" href="/assets/css/owl.carousel.css">
	<!-- magnific popup -->
	<link rel="stylesheet" href="/assets/css/magnific-popup.css">
	<!-- animate css -->
	<link rel="stylesheet" href="/assets/css/animate.css">
	<!-- mean menu css -->
	<link rel="stylesheet" href="/assets/css/meanmenu.min.css">
	<!-- main style -->
	<link rel="stylesheet" href="/assets/css/main.css">
	<!-- responsive -->
	<link rel="stylesheet" href="/assets/css/responsive.css">

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
	<script src="https://unpkg.com/easyinvoice/dist/easyinvoice.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/lazysizes@5.3.2/lazysizes.min.js"></script>
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>



	<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>  --}}


</head>

<body>
	<!-- Topbar Start -->
	{{>user-header}}
	{{{body}}}
	{{>user-footer}}

	<!-- JavaScript Libraries -->
	<script>
		// Initialize lazysizes lazy loading
		window.lazySizesConfig = window.lazySizesConfig || {};
		window.lazySizesConfig.init = false; // Disable automatic initialization
		window.lazySizesConfig.expand = 200; // Load images 200px before they enter the viewport
		window.lazySizes.init(); // Manually initialize lazysizes
	</script>
	<script src="/assets/js/jquery-1.11.3.min.js"></script>
	<!-- bootstrap -->
	<script src="/assets/bootstrap/js/bootstrap.min.js"></script>

	<!-- count down -->
	{{!-- <script src="/assets/js/jquery.countdown.js"></script> --}}
	<!-- isotope -->
	<script src="/assets/js/jquery.isotope-3.0.6.min.js"></script>
	<!-- waypoints -->
	<script src="/assets/js/waypoints.js"></script>
	<!-- owl carousel -->
	<script src="/assets/js/owl.carousel.min.js"></script>
	<!-- magnific popup -->
	<script src="/assets/js/jquery.magnific-popup.min.js"></script>
	<!-- mean menu -->
	<script src="/assets/js/jquery.meanmenu.min.js"></script>
	<!-- sticker js -->
	<script src="/assets/js/sticker.js"></script>
	<!-- main js -->

	<script src="/assets/js/main.js"></script>

	{{!-- <script src="/js/zoomsl.min.js"></script> --}}

	<script src="/javascripts/script.js"></script>


</body>

</html>