<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description"
		content="Responsive Bootstrap4 Shop Template, Created by Imran Hossain from https://imransdesign.com/">

	<!-- title -->
	<title>Fruitkha - Slider Version</title>

	<!-- favicon -->

	<link rel="shortcut icon" type="image/png" href="assets/img/favicon.png">
	<!-- google font -->
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap" rel="stylesheet">


	<!-- fontawesome -->
	<link rel="stylesheet" href="/assets/css/all.min.css">
	<!-- bootstrap -->
	<link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">
	
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
	<!-- owl carousel -->
	<link rel="stylesheet" href="/assets/css/owl.carousel.css">
	<!-- magnific popup -->
	<link rel="stylesheet" href="/assets/css/magnific-popup.css">
	<!-- animate css -->
	<link rel="stylesheet" href="/assets/css/animate.css">
	<!-- mean menu css -->
	<link rel="stylesheet" href="/assets/css/meanmenu.min.css">
	<!-- main style -->
	<link rel="stylesheet" href="/assets/css/main.css">
	<!-- responsive -->

	<link rel="stylesheet" href="/assets/css/responsive.css">
	<script src="/assets/js/jquery.isotope-3.0.6.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
	<script src="https://unpkg.com/easyinvoice/dist/easyinvoice.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/lazysizes@5.3.2/lazysizes.min.js"></script>
	<script src="/javascripts/script.js"></script>
	<script src="https://checkout.razorpay.com/v1/checkout.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.7.7/handlebars.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>


</head>

<body>
	<!-- Topbar Start -->
	<div class="top-header-area" id="sticker">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 col-sm-12 text-center">
					<div class="main-menu-wrap">
						<!-- logo -->
						<div class="site-logo">
							<a href="/">
								<!-- Add your logo here -->
							</a>
						</div>
						<!-- logo -->
						<div class="menu-right pull-right">
							<!-- Add your menu items here -->
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Topbar End -->

	{{> user-header}}

	{{{body}}}

	{{>user-footer}}
	<!-- User Footer -->
	<!-- jQuery -->
	<!-- Bootstrap -->
	<script src="/assets/bootstrap/js/bootstrap.min.js"></script>
	<!-- Owl Carousel -->
	<script src="/assets/js/owl.carousel.min.js"></script>
	<!-- Magnific Popup -->
	<script src="/assets/js/jquery.magnific-popup.min.js"></script>
	<!-- Mean Menu -->
	<script src="/assets/js/jquery.meanmenu.min.js"></script>
	<!-- Sticker -->
	<script src="/assets/js/sticker.js"></script>
	<!-- Main JS -->
	<script src="/assets/js/main.js"></script>

</body>

</html>